.product_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.product_container_img{
    width: 100%;
    height: auto;
    max-width: 600px; 
}

.product_container_title{
   padding: 10px;
   color: white;
}

.product_container_rate{
    color: white;
}

@media (max-width: 768px) {
    .product_container {
      flex-direction: column;
      text-align: center;
    }  
  }