.product_container{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.product_container_img{
    width: 100%;
    height: auto;
    max-width: 600px; 
}

.product_container_title{
   padding: 10px;
   color: white;
}

.product_container_rate{
    color: white;
}